@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.complete_title {
  color: white;
  width: 10px;
  height: 10px;
}

.head_title {
  color: #333;
  font-size: x-large;
}

body {
  display: flex;
  height: 100vh;
  justify-content: right;
  align-items: center;
}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #20dbc2 0%, #00bfa6 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.complete_image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 60px;
  background: #20dbc2;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #20dbc2;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 14px 0;
}

.gender-details .category label {
  display: flex;
  align-items: center;
}

.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background: #20dbc2;
}

form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 45px 0;
  display: flex;
  justify-content: center;
}

form .button input {
  height: 100%;
  width: 130px;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 48px;
  letter-spacing: 1px;
  background-color: #20dbc2;
  cursor: pointer;
}

form .button input:hover {
  background-color: #00bfa6;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  .container:before {
    visibility: hidden;
    transition: none;
  }
}

form .gender-details .category {
  width: 100%;
}

.container form .user-details {
  max-height: 300px;
  overflow-y: scroll;
}

.user-details::-webkit-scrollbar {
  width: 0;
}
